Q.1  What are data structures, and why are they important...?
Ans.1 Data structures are specialized formats for organizing, storing, and managing data efficiently in computer memory. They allow programs to access and manipulate data quickly and effectively, forming the backbone of software applications and algorithms.

Q.2  Explain the difference between mutable and immutable data types with examples..?
Ans.2 (1) Mutable Data Types
Mutable data types allow modifications to their content without changing their identity (memory address).
Examples of Mutable Data Types:
- Lists:
my_list = [1, 2, 3]
my_list[0] = 100  # Modifying the first element
print(my_list)  # Output: [100, 2, 3]

(2)Immutable Data Types
Immutable data types do not allow modifications once they are created. Any change results in the creation of a new object.
Examples of Immutable Data Types:
- Tuples:
my_tuple = (1, 2, 3)
my_tuple[0] = 100  # This will cause an error!
-

Q.3  What are the main differences between lists and tuples in Python...?
Ans.3 Main difference between list and tuple. List are mutable and tuple are immutable.
1. Lists – Mutable Behavior
my_list = [1, 2, 3]
my_list.append(4)  # ✅ Allowed
my_list[0] = 100   # ✅ Allowed
print(my_list)  # Output:

2. Tuples – Immutable Behavior
my_tuple = (1, 2, 3)
my_tuple[0] = 100  # ❌ Error! Tuples cannot be modified.

Q.4  Describe how dictionaries store data...?
Ans.4 Dictionaries in Python store data using a key-value mapping system, making data retrieval efficient and flexible.
How Dictionaries Store Data
- Each item in a dictionary consists of a key and a corresponding value.
- Keys must be unique and immutable (e.g., strings, numbers, tuples).
- Values can be any data type, including lists, dictionaries, or even functions.
- Python dictionaries use hashing to store and retrieve values quickly.

Q.5 Why might you use a set instead of a list in Python...?
Ans.5  While both sets and lists store collections of data, there are specific reasons why you might choose a set over a list in Python.
Key Advantages of Using a Set Instead of a List
- Automatic Removal of Duplicates
- Sets store only unique elements, meaning they automatically remove duplicates.
- Example:
my_list = [1, 2, 2, 3, 3, 3, 4]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4}

Q.6  What is a string in Python, and how is it different from a list...?
Ans.6 In Python, a string is a sequence of characters, whereas a list is a collection of multiple elements (which can be characters, numbers, or even other lists).

Q.7  How do tuples ensure data integrity in Python...?
Ans.7 Tuples ensure data integrity in Python primarily through immutability, meaning once created, they cannot be modified. This characteristic makes tuples a reliable choice in scenarios where data consistency and protection from unintended changes are crucial.

Q.8  What is a hash table, and how does it relate to dictionaries in Python...?
Ans.8 A hash table is a data structure that uses hashing to store and retrieve key-value pairs efficiently. It maps keys to values using a hash function, which transforms each key into a unique index.
How Hash Tables Work
- Hashing – A key is passed through a hash function, generating an index.
- Storage – The key-value pair is stored at the computed index.
- Retrieval – When the key is searched, the hash function quickly locates its corresponding value.

Q.9 Can lists contain different data types in Python...?
Ans.9 Yes.In Python, lists can contain different data types within the same list, making them highly flexible and useful for various applications
my_list = [25, "Hello", 3.14, True, [1, 2, 3], {"key": "value"}]
print(my_list)

Q.10  Explain why strings are immutable in Python...?
Ans. Strings are immutable in Python, meaning that once they are created, their contents cannot be changed. This design choice provides several advantages in terms of performance, security, and memory management.

a = "hello"
b = "hello"
print(a is b)  # Output: True (both reference the same object)

Q.11 What advantages do dictionaries offer over lists for certain tasks...?
Ans.11 Dictionaries offer several advantages over lists in Python, especially when dealing with key-value pair storage, fast lookups, and efficient data organization.
Advantages of Dictionaries Over Lists
- Fast Lookups (O(1) Complexity)
- Dictionaries use hash tables, making data retrieval instant (compared to lists, which require searching through each element).
- Key-Based Organization
- Dictionaries allow easy access using meaningful keys, while lists require index-based retrieval.
- Lists work well for ordered data, but when searching is frequent, dictionaries are superior.
- Efficient Storage for Mappings
- If you need to store associations between values, dictionaries are ideal.

Q.12  Describe a scenario where using a tuple would be preferable over a list...?
Ans.12 Scenario: Storing Configuration Settings
Imagine you’re developing a program that requires fixed system settings, such as database connection parameters. These settings should not be modified during execution.
DB_CONFIG = ("localhost", 5432, "admin", "password123")  # Immutable database settings

def connect_to_db(config):
    print(f"Connecting to {config[0]} on port {config[1]}...")

connect_to_db(DB_CONFIG)

Q.13 How do sets handle duplicate values in Python...?
Ans.13 Sets in Python automatically remove duplicate values, ensuring that all elements within a set are unique.
How Sets Handle Duplicates
- When a set is created, any duplicate values are eliminated.
- Unlike lists, which allow multiple occurrences of the same element, sets only keep one instance of each unique value.

Q.14 How does the “in” keyword work differently for lists and dictionaries...?

Ans.14 The in keyword is used to check membership in Python, but it behaves differently for lists and dictionaries due to their underlying structures.
How in Works for Lists
- Linear Search (O(n) Complexity) – Python scans each element one by one.
- Checks for Presence of a Value – Finds whether a specific item exists in the list.
- Slower for Large Lists – As the list grows, search time increases.
How in Works for Dictionaries
- Uses Hashing (O(1) Complexity)
- Checks for Key, Not Value – The in keyword only looks at keys, not values.
- Much Faster Than Lists – Dictionary lookups happen instantly because of hash tables.

Q.15 Can you modify the elements of a tuple? Explain why or why not....?
Ans.15 No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its contents cannot be changed, added, or removed.
Why Are Tuples Immutable?
- Memory Efficiency – Since tuples cannot change, Python optimizes their storage by allocating fixed memory, making them more efficient than lists.
- Data Integrity & Security – Tuples prevent accidental modification, making them ideal for storing critical or fixed data (e.g., configuration settings).
- Hashability for Dictionary Keys – Unlike lists, tuples can be used as dictionary keys because their contents remain constant.

Q.16 What is a nested dictionary, and give an example of its use case...?
Ans.16 A nested dictionary is a dictionary that contains another dictionary as a value. It allows hierarchical storage of data, making it useful for complex data structures where items need to be categorized or grouped logically.
students = {
    "Ajay": {"age": 22, "skills": ["Python", "Data Science"], "grade": "A"},
    "Rahul": {"age": 21, "skills": ["Java", "Web Development"], "grade": "B"},
    "Meena": {"age": 23, "skills": ["Machine Learning", "AI"], "grade": "A+"}
}

# Accessing nested values
print(students["Ajay"]["skills"])  # Output: ['Python', 'Data Science']
print(students["Meena"]["grade"])  # Output: 'A+'

Q.17  Describe the time complexity of accessing elements in a dictionary...?
Ans.17 Accessing elements in a Python dictionary is highly efficient, thanks to its hash table implementation. The time complexity depends on whether hashing works smoothly or encounters collisions.
Time Complexity of Dictionary Access
✅ Best Case (O(1)) – Constant Time
- When a key is directly mapped to a memory location via hashing, lookup happens instantly.
my_dict = {"name": "Ajay", "age": 22}
print(my_dict["name"])  # ✅ Fast lookup (O(1))

Q.18  In what situations are lists preferred over dictionaries...?
Ans.18 Lists are preferred over dictionaries in Python when ordered, sequential storage is needed or when index-based operations are required.
Situations Where Lists Are Preferred Over Dictionaries
- Preserving Order
- Lists maintain the sequence of elements, making them ideal for ordered data.
- Dictionaries, on the other hand, don’t always preserve insertion order in older Python versions.
- Simple Iteration & Index-Based Access
- Lists allow index-based retrieval, while dictionaries rely on key-based access.
- Handling Duplicates
- Lists allow duplicate values, while dictionaries only store unique keys.
- Sorting and Transformation
- Lists support sorting, reversing, and other operations easily.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval...?
Ans.19 Dictionaries in Python are considered unordered because they do not maintain a fixed sequence of keys like lists do. Instead, they store key-value pairs based on hashing, which optimizes lookup performance but does not guarantee a predictable order of elements.
Why Are Dictionaries Unordered?
- Hash Table Implementation
- Dictionaries use hash functions to map keys to memory locations.
- Since hashing distributes keys without regard to order, elements may not appear in the same sequence they were added.
- Optimization for Fast Lookups
- Instead of preserving order, dictionaries prioritize quick access, making lookup operations O(1) (constant time).
- Behavior Before Python 3.7 vs. After
- Before Python 3.7: Dictionaries were completely unordered.
- Since Python 3.7: They maintain insertion order, but this is an implementation detail rather than a strict guarantee.

Q.20  Explain the difference between a list and a dictionary in terms of data retrieval....?
Ans.20 How Data Retrieval Works
- Lists (Index-Based Access)
- Elements are accessed using their position (index) in the list.
- Retrieval requires iterating through elements when searching.
- Example:
my_list = ["apple", "banana", "cherry"]
print(my_list[1])  # ✅ Retrieves "banana" using index
- Dictionaries (Key-Based Access)
- Data is mapped using keys, allowing instant retrieval via hashing.
- Example:
my_dict = {"name": "Ajay", "language": "Python"}
print(my_dict["name"])  # ✅ Retrieves "Ajay" instantly

Q.1  Write a code to create a string with your name and print it...?

In [ ]:
#Ans.1
name = "Gaurav"
print(name)

Gaurav

Q.2  Write a code to find the length of the string "Hello World"...?

In [ ]:
#Ans.2
string = "Hello World"
length = len(string)
print(length)

11

Q.3 Write a code to slice the first 3 characters from the string "Python Programming"....?

In [ ]:
#Ans.3
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q.4  Write a code to convert the string "hello" to uppercase....?

In [ ]:
#Ans.4
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"...?

In [ ]:
#Ans.5
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

Q.6 Write a code to create a list with numbers 1 to 5 and print it...?

In [ ]:
#Ans.6
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]...?

In [ ]:
#Ans.7
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q.8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]...?

In [ ]:
#Ans.8
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q.9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']...?

In [ ]:
#Ans.9
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

Q.10 Write a code to reverse the list [10, 20, 30, 40, 50]..?

In [ ]:
#Ans.10
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it....?

In [ ]:
#Ans.11
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')...?

In [ ]:
#Ans.12
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)...?

In [ ]:
#Ans.13
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')...?

In [ ]:
#Ans.14
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it...?

In [ ]:
#Ans.15
fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it....?

In [ ]:
#Ans.16
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}...?

In [ ]:
#Ans.17
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}...?

In [ ]:
#Ans.18
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}....?

In [ ]:
#Ans.19
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}....?

In [ ]:
#Ans
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q.21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it....?

In [ ]:
#Ans.21
my_dict = {
    "name": "Ajay",
    "age": 22,
    "city": "New York"
}
print(my_dict)

{'name': 'Ajay', 'age': 22, 'city': 'New York'}

Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}...?

In [ ]:
#Ans.22
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}...?

In [ ]:
#Ans.23
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

Q.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}...?

In [ ]:
#Ans.24
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}...?

In [ ]:
#Ans.25
my_dict = {'name': 'Alice', 'city': 'New York'}
city_exists = 'city' in my_dict
print(city_exists)

True

Q.26 Write a code to create a list, a tuple, and a dictionary, and print them all....?

In [ ]:
#Ans.26
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {
    "name": "Ajay",
    "age": 22,
    "city": "New York"
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Ajay', 'age': 22, 'city': 'New York'}

Q.27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)..?

In [ ]:
#Ans
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[15, 49, 52, 80, 89]

Q.28 Write a code to create a list with strings and print the element at the third index....?

In [ ]:
#Ans.28
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

Q.29 Write a code to combine two dictionaries into one and print the result....?

In [ ]:
#Ans.29
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30 Write a code to convert a list of strings into a set....?

In [ ]:
#Ans.30
string_list = ["apple", "banana", "cherry", "banana", "date"]
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'date', 'banana'}